.DS_Store
node_modules
dist
.firebase
lib
mysql_test_data

# local env files
.env*
!.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/generated/prisma
firebase-debug.log
firestore-debug.log
.firebaserc

# clasp credentials
.clasprc.json
.clasp.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

